
/* Fjern comment ut hvis annen layout på post-arkiv seksjonen på forsida */
/*
.archive-main article:nth-of-type(4) {
    margin-top: 0rem;
    padding-top: 0rem;
    border-top: none;
}
*/

/*

.home .post-archive .post-inner {
	border: 1px #e9ecef solid;
	margin-top: 0rem!important;
	padding-top: 2rem;
	height: 430px;
}
*/

/*
.cnvs-block-section-heading {
	margin-left: -230px;
	line-height: 11px;
	width: 1160px;
}
.cnvs-section-title, .cnvs-section-title span {
	width: 1160px!important;
		color: gray;
}*/

.nav .menu-item-has-children a {
	cursor: default;
}

.nav .menu-item-has-children .sub-menu a {
	cursor: pointer;
}

.sidebar .widget:nth-of-type(2) {
	margin-top: -0.5rem;
}

.alignwide {
	margin-left: -50px!important;
}

@media (max-width: 1119px) {
.alignwide {
	margin-left: 0px!important;
}
}

@media (max-width: 759px) {
	.home article:first-of-type {
    height: 400px!important;
}
}

@media (max-width: 600px) {
	.home article:first-of-type {
    height: 340px!important;
}
	.tiles-outer .post {
		margin-bottom: 18px!important;
	}
}

.wp-block-quote cite {
	color: #444!important;
	font-size: 15px!important;
	margin-top: 40px!important;
}

.navbar .sub-menu {
	margin-top: -10px!important;
}

.section-tiles + .site-content > .cs-container::before {
    content: '';
    border-top: 1px #e9ecef solid;
    border-top-color: rgb(233, 236, 239);
    display: block;
    width: 100%;
    padding-top: 3rem;

}

.tiles-outer .post-categories {
	margin-bottom: 1rem;
}

.widget_super_rss_reader h5 {
	display: none;
}

/*article .post-share {
	display: none;
}*/

.section-related-posts .cnvs-block-section-heading {
	margin-top: 4rem;
	margin-bottom: 3.5rem;
}

.section-related-posts .entry-title {
	font-size: 26px!important;
}

.section-related-posts .post-meta {
	display: none;
}

.section-related-posts .post-categories a {
	font-weight: 700;
	font-size: 13px;
	color: #E00313!important;
}

.navbar-col, .navbar li {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.navbar .navbar-col {
	margin-bottom: 1px;
}

.navbar-primary .sub-menu {
	margin-top: 55px!important;
	/*top: 17px!important;*/
	top: 12px!important;
	border-top: 1px solid #C7000E!important;
	margin-left: -26px;
}

.single-post hr {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

article {
	margin-bottom: 3.5rem!important;
}

.tiles-outer article {
	margin-bottom: 0rem!important;
}

.tile-secondary {
	border-left: 1px solid white;
}

@media (max-width: 1120px) {
.tile-secondary {
	border-left: none;
}
}

/* Skjuler alle kategorier utenom den første hvis det er flere */
.post-categories li {
	display: none!important;
}.post-categories li:first-of-type {
	display: inline-block!important;
}

.post-main {
    max-width: 700px;

}

.section-related-posts .cnvs-block-section-heading {
	border-top: 1px solid #EEEEEE;
}

.section-related-posts .cnvs-section-title {
	visibility: hidden;
}

.load-more .button {
	display: none;
}

.navbar-primary .sub-menu .sub-menu {
	margin-left: 1px!important;
	margin-top: -34px!important;
}

.category .page-header, .page .page-header {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.category-74 .page-header, .category-83 .page-header {
	background-image: url("/wp-content/uploads/2020/02/historie-banner-1.jpg");
}

.category-2227 .page-header, .category-2253 .page-header {
	background-image: url("/wp-content/uploads/2020/02/innenriks-banner-1.jpg");
}

.category-68 .page-header, .category-85 .page-header {
	background-image: url("/wp-content/uploads/2020/02/kronikk-banner-1.jpg");
}

.page-id-3423 .page-header, .page-id-3444 .page-header {
	background-image: url("/wp-content/uploads/2020/02/omoss-banner-1.jpg");
}

.page-id-21 .page-header, .page-id-2343 .page-header {
	background-image: url("/wp-content/uploads/2020/02/kontaktoss-banner-1.jpg");
}

.page-id-3414 .page-header, .page-id-3460 .page-header {
	background-image: url("/wp-content/uploads/2020/02/disclaimer-banner-1.jpg");
}

.page-id-1686 .page-header, .page-id-2330 .page-header {
	background-image: url("/wp-content/uploads/2020/02/bidra-banner-1.jpg");
}

.page-id-1688 .page-header {
	background-image: url("/wp-content/uploads/2020/02/lenkesamling-banner-1.jpg");	
}

.page-id-1688 .page-header {
	background-image: url("/wp-content/uploads/2020/02/lenkesamling-banner-1.jpg");	
}

.page-id-2281 .page-header, .page-id-2334 .page-header {
	background-image: url("/wp-content/uploads/2020/02/mlm-teori-fra-norge.jpg");	
}

.category-europa .page-header, .category-europe .page-header {
	background-image: url("/wp-content/uploads/2020/02/europa-banner-1.jpg");	
}

.category-asia .page-header {
	background-image: url("/wp-content/uploads/2020/02/asia-banner-1.jpg");	
}

.category-afrika .page-header, .category-africa .page-header {
	background-image: url("/wp-content/uploads/2020/02/afrika-banner-1.jpg");	
}

.category-nord-amerika .page-header, .category-north-america .page-header {
	background-image: url("/wp-content/uploads/2020/02/nordamerika-banner-1.jpg");	
}

.single-post .page-header {
	background-image: none;
}

.category-latin-amerika .page-header, .category-latin-america .page-header {
	background-image: url("/wp-content/uploads/2020/02/latinamerika-banner-1.jpg");	
}

.category-midt-osten .page-header, .category-the-middle-east .page-header {
	background-image: url("/wp-content/uploads/2020/02/midtosten-banner-1.jpg");	
}

.category-internasjonalt .page-header, .category-international .page-header {
	background-image: url("/wp-content/uploads/2020/03/internasjonalt-banner-1.jpg");	
}

.page-id-14514 .page-header, .page-id-14526 .page-header {
	background-image: url("/wp-content/uploads/2020/06/arkiv-banner-3.jpg");
}

.page-id-3583 .page-header {
	background-image: url("/wp-content/uploads/2020/02/klassiske-tekster-banner-2.jpg");		
}
.category-kultur .page-header, .category-culture .page-header {
	background-image: url("/wp-content/uploads/2020/03/kultur-banner-1.jpg");	
}
.page-id-13160 .page-header {
	background-image: url("/wp-content/uploads/2020/04/klassekampens-historie-artikkelserie-banner.jpg");	
}

.page-header-wide .overlay-inner {
    max-width: 900px;
}
	
#ez-toc-container {
	border: 0;
	padding: 0;
	box-shadow: none;
}

.ez-toc-title {
	color: rgb(0, 0, 0)!important;
	font-family: Montserrat;
	font-size: 32px!important;
	font-weight: 700!important;
	letter-spacing: -1.6px;
}

.ez-toc-list a{
	color: rgb(51, 51, 51)!important;
	font-family: Lato;
	font-size: 19px;
	font-weight: 400;
	line-height: 33.25px;
}

.ez-toc-list li:first-of-type {
	padding-top: 32px!important;
}

.ez-toc-list ul li:first-of-type {
  padding-top: 0px !important;
}

.ez-toc-toggle i.ez-toc-glyphicon {
    font-size: 25px !important;
    color: #151515;
		margin-left: 1px;
}

.ez-toc-btn-default {
    border: none;
    border-radius: 0px;
    padding-top: 4px;
    width: 35px;
    height: 35px;
    background-image: none;
    box-shadow: none;
		transition: 0.2s ease;
}

.page .page-header h1, .category .page-header h1 {
	text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.15); 
  box-shadow: 0px 1.5px rgba(0, 0, 0, 0.15);
}

.home .post-outer .post-excerpt {
	display: none;
}

.home .post-inner .entry-header {
	padding-left: 1rem;
	padding-right: 1rem;
}

.home .post-archive .post-categories a {
  color: #E10313;
	font-weight: 800;
  font-size: 13px;
}

.home .post-archive article {
	margin-top: 2.5rem;
}

.home .post-archive .post-outer .post-inner:nth-of-type(2) {
	margin-top: 1.5rem;
}

.post .post-thumbnail {
	margin-bottom: 1.6rem;
}

.home .post-archive .post-thumbnail .post-more, .home .post-archive .post-thumbnail .post-meta, .post .post-thumbnail .post-more {
	display: none;
}

.home .post-archive article, .category .post-grid {
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}
.search .post-archive article {
    margin-top: 0rem!important;
    margin-bottom: 2.5rem;
}

.search .post-meta {
	display: none;
}

.home .site-content .main-content .content-area {
	/*margin-top: -1.8rem;*/
	margin-top: -0.8rem;
}

.home .sidebar {
	margin-top: 1rem;
}
.category .sidebar {
	margin-top: 1.8rem;
}
.search .sidebar { 
	margin-top: 2rem;
}

/*ALT OVER ER TEST*/

.category-film .post-outer .post-inner:nth-of-type(2) {
		margin-top: 1.5rem!important;
}

.page .site-content {
	min-height: 31.7vh;
}

.overlay-inner {
	text-align: left!important;
	margin-top: auto;
	margin-bottom: 5px!important;
	margin-right: auto;
}

.archive-list .post-categories a {
	color: #DC1921;
}

.archive-list .post-categories a, .section-tiles .post-categories a {
	font-weight: 800!important;
	font-size: 13px;
}

.section-tiles .post-categories a  {
	color: #E00313!important;
}

.header, .header-logo {
	display: none!important;
}

.navbar-primary {
	padding-top: 8px;
	padding-bottom: 9px;
	/*background-color: *//*#080808*//*#D8000F!important;*/
	border: none!important;
background: rgb(225,3,19)!important;
background: linear-gradient(0deg, rgba(225,3,19,1) 0%, rgba(225,3,19,1) 100%)!important;
}

.navbar-primary  a {
	color: #FFC239!important;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.navbar-primary .sub-menu a {
	text-shadow: none!important;
}

.navbar-primary .menu-item-has-children:first-of-type .sub-menu {
	margin-left: -1px;
}

.navbar-primary .menu-item-67 .sub-menu {
	margin-left: -33px;
}

.navbar-primary .menu-item-70 .sub-menu {
	margin-left: -33px;
}

.navbar-primary {
	z-index: 900!important;
}

.navbar {
	border: 0!important;
}

.sub-menu a {
	color: black!important;
}

.page .sidebar-area {
	display: none!important;
}

@media (max-width: 7680px) {
	.navbar-brand {
		display: block!important;
	}
}

.navbar-toggle {
	display: none;
	color: white!important;
}

@media (max-width: 1119px) {
	.navbar-toggle {
		display: inline;
	}
}

.site-title {
	opacity: 0;
}

.home .page-header-wide h1, .meta-author, .meta-comments {
	display: none!important;
}

.home .page-header {
	background-image: url(http://35.228.105.170/wp-content/uploads/2019/07/Webbanner_v6.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.post-tags {
	display: none;
}

.single-post .post-thumbnail {
	margin-bottom: 1.4rem;
}



.category-film .overlay-inner .entry-title {
	margin-top: 525px!important;
	color: black;
}
.category-film .overlay-media img {
	display: none;
}
.category-film .page-header .overlay-inner {
	padding-left: 0px!important;
	padding-right: 0px;

}
.category-film .meta-date a {
	color: black;
}
.category-film .post-meta {
    margin-top: 1rem;
}
.category-film .meta-reading-time, .archive .post-meta, .category-film .section-carousel .meta-date, .category-film .section-carousel .post-categories  {
	display: none;
}
.category-film video:focus, .wp-block-video:focus {
	outline: none!important;
}
.category-film .entry-content p {
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.category-film .entry-content p {
	padding-top: 32px;
	padding-bottom: 58px;
}

.category-film .wp-block-video {
	position: absolute;
	width: 1160px;
	max-height: 655!important;
	margin-left: -180px;
	margin-top: -820px!important;
}
.category-film iframe {
	position: absolute;
	margin-left: -180px;
	margin-top: -820px!important;
}
.category-film .ratio .overlay-inner {
	padding-bottom: 0px;
}


/*1239*/


.category .post-grid .post-inner + .post-inner {
    margin-top: 23px!important;
}

.category .sidebar-area {
	display: none!important;
}
.category .content-area {
	max-width: 1200px!important;
	flex: 0 0 1200px!important;
}
@media(max-width: 1239px) {
 .category .site-main {
	width: 100%;
}	
	.category .content-area {
		width: relative;
		flex: 0px!important;
	}
}
@media(max-width: 1019px) {
.category .content-area article {
    flex: 0 0 50%!important;
	}
}
@media(max-width: 759px) {
.category .content-area .post-grid {

	}
.category-film .content-area article .post-outer {

	}
}
.category .content-area article {
	flex: 0 0 33%;
	margin-top: 0rem;
	margin-bottom: 1.8rem;
}

/* Video-sida første video stor */
/*.category-film .content-area article:first-of-type {
	flex: 0 0 0;
	width: 100%;
	margin-right: 100%;
	margin-bottom: 50px;
}
.category-film .content-area article:first-of-type .post-thumbnail {
	width: 118.6vh;
	margin-right: 100%;
	height: 640px;
}
.category-film .overlay{
	display: none;
}
.category-film .content-area article:first-of-type .entry-title {
	font-size: 50px;
}
*/

.category .meta-date {
	display: none;
}

.tiles-outer .entry-title {
	font-weight: 800;
	letter-spacing: -0.6px!important;
}

.page-header .entry-title {
	font-weight: 800;
	letter-spacing: -0.7px!important;
}

.tiles-outer .overlay-inner {
	z-index: 99;
	margin-bottom: 0!important;
	padding-bottom: 24px;
	padding-top: 70px;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,.8), transparent 100%)!important;
}

.single-post .page-header .overlay-inner {
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,.9), transparent 100%)!important;
	margin-bottom: 0!important;
	padding-left: 59px;
	padding-top: 150px;
}

@media(max-width: 759px) {
.single-post .page-header .overlay-inner {
	background-image: linear-gradient(to top, rgba(0,0,0,.70), transparent 100%)!important;
}
}

@media(max-width: 600px) {
.single-post .page-header .overlay-inner {
	background-image: linear-gradient(to top, rgba(0,0,0,.60), transparent 100%)!important;
}
}

.post-archive .entry-title {
	font-weight: 800;
	font-size: 26px;
}

.page-header .post-meta, .page-header a {
	font-size: 13px;
	font-weight: 500;
}

.section-tiles article:first-of-type .overlay-inner {
	padding-top: 150px;
}

.home .archive-main article:first-of-type, .home .archive-main article:nth-of-type(2), .home .archive-main article:nth-of-type(3) {
	display: none;
}

.section-tiles .meta-category li {
	padding: 3px;
	padding-right: 11px;
	padding-left: 11px;
	border: 1px solid #E00313;
box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.20) inset;
-webkit-box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.20) inset;
-moz-box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.20) inset;
}

.section-tiles .post-categories li {
	color: #E00313;
	transition: ease 0.2s;
	z-index: 101
}

.section-tiles .post-categories li {
	transition: ease 0.3s;
}

.section-tiles .post-outer {
	background-color: #151515;
}

.section-tiles img {
	opacity: 0.7;
}

.section-tiles article:first-of-type:hover img {
	opacity: 0.65;
}

.section-tiles article:nth-of-type(2):hover img, .section-tiles article:nth-of-type(3):hover img {
	opacity: 0.6;
	transition: ease 0.5s;
}

.section-tiles article:nth-of-type(2) img, .section-tiles article:nth-of-type(3) img {
	opacity: 0.7;
	transition: ease 0.5s;
}

.section-tiles article {
	transition: 0.2s;
	cursor: pointer;
}

.section-tiles article:nth-of-type(2) .meta-category li, .section-tiles article:nth-of-type(3) .meta-category li {
	margin-bottom: 2px;
}

.section-tiles article:first-of-type .meta-category li {
	margin-bottom: 4px;
box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.10) inset;
-webkit-box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.10) inset;
-moz-box-shadow: 7px -5px 17px -4px rgba(0,0,0,0.10) inset;
}

.home .site-content {
	margin-top: 0;
	/*margin-bottom: 8rem;*/
}

.site-content {
	margin-bottom: 90px;
}

.srr-tab-style-smodern .srr-active-tab {
	box-shadow: none!important;
	background-color: #E00313!important;
	color: white!important;
	border: none;
}

.srr-tab-wrap li {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	padding-right: 11px!important;
	padding-left: 11px!important;
}

.navbar-search {
	margin-left: 25px!important;
}

.navbar li a, .navbar-brand {
	transition: ease 0.2s;
}

.navbar li a:hover, .navbar-brand:hover {
	/*color: #E00313!important;*/
	opacity: 0.7;
}

.navbar .submenu li a:hover {
	color: black!important;
}

.widget_super_rss_reader .title-block {
	background-color: #E00313;
	color: white;
	padding: 12px;
	font-size: 15px;
	display: none;
}

.srr-wrap div {
	border-radius: 0!important;
}

.page-header .post-categories {
	display: none;
}

@media (max-width: 1019px) {
.page-header .overlay-inner {
	padding-left: 35px;
	padding-bottom: 50px;
}
	.page-header .overlay-inner .entry-title {
		font-size: 30px;
	}
.home article:first-of-type {
		height: 350px;
	}
.home article:first-of-type h2 {
		font-size: 30px;
	}
}

@media (max-width: 570px) {
.home article:first-of-type h2 {
		font-size: 25px;
	}
}

@media (max-width: 470px) {
.page-header .overlay-inner {
	padding-left: 22px;
	padding-bottom: 45px;
}
}

@media (max-width: 769px) {
	.tiles-outer article {
		height: 400px;
		margin-bottom: 20px;
	}
.section-tiles {
    margin-top: 20px;
}
}

@media (max-width: 600px) {
	.tiles-outer article {
		height: 340px;
	}
}

@media (max-width: 446px) {
	.tiles-outer .overlay-inner {
		padding-left: 22px;
	}
}

.sub-menu .menu-item a:hover {
	color: black!important;
}

.navbar img {
	max-width: 135px;
}

@media (max-width: 1119px) {
.navbar-brand {
	width: 120px;
}
}

.cs-icon-search {
	transition: ease 0.2s;
}

.cs-icon-search:hover {
/*filter: invert(43%) sepia(99%) saturate(7088%) hue-rotate(346deg) brightness(82%) contrast(119%);
-webkit-filter: invert(43%) sepia(99%) saturate(7088%) hue-rotate(346deg) brightness(82%) contrast(119%);*/
	opacity: 0.8;
}

/*
.logo-image:hover {
	content: url(/wp-content/uploads/2019/08/logo_small_web_1-red.png);
  -webkit-transition: width 2s!important;
  transition: width 2s!important;
}
*/

.logo-image, .logo-image:hover, .navbar-col:first-of-type, .navbar-col:first-of-type:hover, .navbar-brand, .navbar-brand:hover {
	transition: 0.2s!important;
}


.topbar {
	background-color: #131313;
	border-bottom: 0!important;
}

.tiles-outer .overlay-media {
	transition: ease 0.5s;
}

.tiles-outer article:hover .overlay-media {
	transform: scale(1.06);
}


.tiles-outer article:nth-of-type(2):hover .overlay-media, .tiles-outer article:nth-of-type(3):hover .overlay-media
{
	transform: scale(1.1)!important;
}

.navbar-primary {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-col, .navbar li {
    padding-top: 8px;
    padding-bottom: 9px;
}

.navbar li:nth-of-type(3), .navbar li:last-of-type {
	border-right: 1px solid /*#23282D*/#C7000E;
	padding-right: 2rem;
}
.navbar li:nth-of-type(4) {
	margin-left: 2rem;
}

.navbar .sub-menu li, .navbar .sub-menu li:first-of-type  {
	padding-right: 0;
	padding-left: 17px!important;
	border: 0;
	border-left: 0;
}

.navbar .sub-menu li:nth-of-type(4) {
	padding-left: 0;
	margin-left: 0;
}

.navbar li:first-of-type {
	border-left: 1px solid /*#23282D*/#C7000E;
	padding-left: 2rem;
}

.srr-clearfix {
	margin-bottom: 30px!important;
}

.srr-item {
	margin-bottom:5px!important;
}

.site-footer {
	background-color: #080808!important;

}

.widget_super_rss_reader, .srr-wrap .srr-vticker .srr-style-smodern  {
	min-height: 700px!important;
}

.srr-title {
	font-family: montserrat, sans-serif;
	font-weight: 700;
}
.even {
	background-color: transparent!important;
}

.sidebar-area {
	margin-top: -49px;
	padding-top: 10px;
}

.srr-tab-wrap {
	padding-top: 0px!important;
}

.archive-list .post-excerpt {
	font-size: 15.5px!important;
}

.sidebar-area {
	font-family: montserrat, sans-serif;
}

.meta-date, .srr-date {
	font-size: 13px;
	text-transform: uppercase;
	color: black;
}

.post .section-carousel .post-categories a, .search .post-categories a, .category .post-categories a, .tag .post-categories a {
	font-weight: 700;
	font-size: 13px;
	color: #E00313!important;
}

.post .section-carousel .entry-title {
    font-size: 26px;
}

.search .post-excerpt, .search .post-more {
	display: none;
}

.post-tags a {
	padding: 3px;
	padding-left: 11px;
	padding-right: 11px;
	font-size: 14px;
	font-weight: 500;
	transition: ease 0.2s;
}

.post-tags a:hover {
	background-color: #E00313;
}

.post-tags h5 {
	font-size: 26px;
}

.post .title-block {
	font-size: 15px;
	display: none;
}

.search .post-grid {
	margin-top: 4rem!important;
}

.archive .overlay-inner {
	padding-top: 0;
	margin-top: 0;
	background: none!important;
}

/*
.category .page-header, .category .page-header section {
	background-color: transparent!important;
	height: 400px;
	min-height: 400px;
}
*/

.category .overlay-inner {
	margin-top: auto;
}

.category .page-header h1,
.category .page-header .post-count {
	color: black;
}

.category .page-header .post-count {
	font-size: 13px;
	display: none;
}

/*
.category .page-header .post-count::first-letter {
	color: white;
	background-color: #E00313;
	padding: 5px;
	padding-left: 11px;
	padding-right: 11px;
	margin-right: 4px;
	border-radius: 100%;
	font-weight: 700;
}*/

.single-post .entry-content p {
	color: #333333;
	font-size: 18px;

}

.page .entry-content p {
	font-size: 19px;
	color: #333333;
}

.page .page-header, .category .page-header {
	background-color: #E00313;
}

.navbar-center {
	border-bottom: 1px solid #C7000E!important;
}

.wp-block-image figcaption {
	color: #333333!important;
	font-size: 16px!important;
	font-family: Lato, Helvetica, Arial, sans-serif!important;
	text-transform: initial!important;
}

@media(max-width: 680px) {
	.wp-block-quote p {
		padding-left: 20px!important;
		padding-right: 20px!important;
		margin-left: 0!important;
	}
}

@media(max-width: 420px) {
.single-post .entry-content p {
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.single-post .page-header .overlay-inner {
    padding-left: 30px;
}
}

.post-archive .post-excerpt {
	font-size: 15px!important;
}

.wp-block-quote p {
	font-size: 19px!important;
	letter-spacing: 0.01px!important;
	font-weight: 200!important;
	font-family: Lato, Helvetica, Arial, sans-serif!important;
	text-align: left!important;
	padding-left: 120px!important;
	padding-right: 120px!important;
}

.wp-block-quote {
	padding-bottom: 0!important;
	margin-top: 0!important;
	margin-bottom: 20px!important;
	padding-bottom: 20px!important;
	padding-top: 15px!important;
}

@media (max-width: 1019px) {
	.wp-block-quote p {
		padding-left: 90px!important;
		padding-right: 90px!important;
	}
}

.wp-block-quote::before {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid #E00313;
	padding-bottom: 24px;
	margin-bottom: 45px!important;
}

.footer-info .site-logo {
	position: sticky
		;
	margin-left: auto!important;
	margin-right: auto!important;
}

.footer-info .logo-image {
	width: 178px;
	margin-bottom: 15px;
	opacity: 0.4
}

.footer-info .footer-copyright {
	/*text-align: center;*/
}

.footer-copyright {
	margin-bottom: 8px;
}

.sub-menu a {
	font-size: 14px!important;
}

.sub-menu li {
	padding-right: 17px!important;
}

.page .page-header h1, .category .page-header h1 {
	color: #FFC239!important;
	padding-top: 5px;
	font-size: 60px;
	border-bottom: 7px solid #FFC239;
	padding-bottom: 5px;
	letter-spacing: 0.3px;
}

@media (max-width: 505px) {
	.page .page-header h1, .category .page-header h1 {
		font-size: 40px;
	}
}

.page .page-header, .page .page-header .overlay-outer, .category .page-header, .category .page-header .overlay-outer {
	max-height: 250px!important;
	min-height: 250px!important;
}

.page .page-header .overlay-inner, .category .overlay-inner {
	margin-bottom: auto!important;
	margin-top: auto!important;
}

.page .overlay-media, .category .overlay-media {
	opacity: 0;
}

.category .page-header h1 {
	padding-top: 68px;
}

.archive-first {
	padding-bottom: 25px;
}

.category .post-categories {
	display: none;
}

.archive .sub-title, .archive .post-count, .search .sub-title {
	font-size: 13px;
	color: #333333;
}

.offcanvas {
	background-color: #080808!important;
}

.offcanvas, .offcanvas a, .offcanvas .sub-menu a {
	font-size: 15px!important;
}

.offcanvas, .offcanvas a, .offcanvas .sub-menu a {
	color: white!important;
}

.offcanvas .sub-menu a {
	margin-bottom: 5px;
	transition: ease 0.2s;
}

.offcanvas .sub-menu a:hover {
	color: white!important;
	opacity: 0.7!important;
}

.offcanvas .menu-item {
	border-color: #333333!important;
}

.offcanvas-header .navbar {
    background-color: transparent!important;
	margin-top: 20px;
}

.offcanvas .navbar-brand {
	color: transparent!important;
	background-image: url(/wp-content/uploads/2020/02/logo_small_web_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	width: 150px;
	height: 40px;
}

.offcanvas .offcanvas-toggle {
	margin-top: 7px;
}

.home .post-list .post-meta {
	display: none;
}

.home .post-list .entry-title {
	margin-bottom: 15px;
}

@media (max-width: 1239px) {
	.home .post-excerpt {
		display: none;
	}
	.home .post-list .entry-header {
		margin-top: auto;
		margin-bottom: auto;
	}
.home .post-list .entry-title {
	margin-bottom: 0;
}
	.home .post-list .entry-header {
		padding-bottom: 15px;
	}
}

@media (max-width: 1320px) {
	.post-list + .post, .post + .post-list {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0;
}
}

@media (max-width: 820px) {
	.post-list + .post, .post + .post-list {
    margin-top: 2rem;
    padding-top: 1rem;
}	
}

@media (max-width: 759px) {
	.home .meta-date {
		display: none;
	}
	.home .entry-title {
		font-size: 30px;
		line-height: 35px;
	}
	.cs-container:before {
		border-top: 0!important;
	}
	.home .section-tiles {
		margin-bottom: -20px;
	}
	.home .post-list .entry-header {
		padding-bottom: 0;
	}
}

@media (max-width: 570px) {
	.home .entry-title {
		font-size: 25px;
		line-height: 30px;
	}
	.section-tiles {
		margin-bottom: -40px;
	}
}

@media (max-width: 560px) {
	.home .archive-list .post-categories {
		margin-bottom: 5px;
		margin-top: -5px;
	}
	.home .archive-list article {
		margin-top: 20px;
	}
}

.cs-icon-menu {
	color: #FFC239;
}

@media (max-width: 1420px) {
	.navbar-primary .navbar-brand {
		margin-left: -6px!important;
		margin-top: -2px;
	}
}

@media (max-width: 600px) {
.single-post .entry-content p {
	padding-left: 20px!important;
	padding-right: 20px!important;
	font-size: 16.5px;
}
.wp-block-quote p {
	font-size: 18px!important;
}
.wp-block-quote::before {
	padding-bottom: 20px!important;
}
.single-post .page-header .overlay-inner {
    padding-left: 40px;
}
.single-post .page-header-small {
    margin-bottom: 2rem;
}
.page .site-content {
		margin-top: 2rem;
}
}

@media (max-width: 450px) {
.single-post .entry-content p {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.single-post .page-header-small {
    margin-bottom: 1.5rem;
}
.page .site-content {
		margin-top: 1.5rem;
}
.single-post .page-header .overlay-inner {
    padding-left: 25px;
}
.page .page-header .overlay-inner, .category .page-header .overlay-inner {
		margin-left: auto;
		margin-right: auto;
	}
.page .entry-content p {
	font-size: 17px;
}
}

.footer-info {
	width: 190px;
	margin-left: auto;
	margin-right: auto;
}

.sub-menu {
	margin-top: 1px!important;
}

.search-field {
	text-align: center;
}

.single-post .category-film .page-header .overlay-inner {
	background-image: linear-gradient(to top, rgba(255,255,255,1), transparent 100%)!important;
}

.category-film .overlay-media:before {
    background-color: rgba(255,255,255,1)!important;
}

@media(max-width:760px) {
.post-grid .post-outer .post-categories {
	margin-bottom: 0.3rem;
	}
.post-grid .post-outer .post-inner:nth-of-type(2) {
		margin-top: 0.9rem!important;
	}
	.category .post-grid {
		margin-top: 2.5rem;
	}
.category .post-grid .post-outer .post-inner:nth-of-type(2) {
		margin-top: 1.2rem!important; 
}
	.archive-main .post-categories li {
		margin-top: 5px;
	}
}
footer {
	margin-bottom: -24px;
}

/*Wordpress-embed-artikkel*/
.wp-embed-footer {
	display: none!important;
}

.has-text-color {
	color: #333333!important;
}