.admin-bar .easy-footnote-margin-adjust {
	position: absolute;
	margin-top: -40px;
}
.easy-footnote-to-top {
	display: inline-block;
	margin-left: 10px;
}
.easy-footnote-to-top:after {
	content: "\f474";
	font-family: 'dashicons';
	line-height: 1;
}