/* Slider */
.cs-block-slider-container {
	overflow: hidden;
}

.cs-block-section-slider .cs-block-slider-featured:not(.cs-block-slider-large):not(.cs-block-slider-multiple) .owl-carousel {
	display: block;
}

.cs-block-slider-featured {
	position: relative;
}

.cs-block-slider-featured .owl-carousel {
	display: block;
}

.cs-block-slider-featured .owl-dot span {
	background: rgba(255, 255, 255, 0.5);
}

.cs-block-slider-featured .owl-dot.active span {
	background: white;
}

/**
 * Layouts
 */
.cs-block-slider-center {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 760px) {
	.cs-block-slider-center {
		width: 100%;
		padding: 0;
	}
}

.cs-block-slider-center article {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1240px) {
	.cs-block-slider-center article {
		width: 1160px;
	}
}

.cs-block-slider-center .overlay-inner {
	max-width: 680px;
}

@media (min-width: 1120px) {
	.cs-block-slider-center .overlay-inner {
		padding: 3rem;
	}
}

.cs-block-slider-center .owl-dots {
	z-index: 1;
	bottom: 2rem;
}

@media (min-width: 1240px) {
	.cs-block-section-slider-center .owl-arrows .owl-prev,
	.cs-block-section-slider-center .owl-arrows .owl-next {
		transform: none !important;
		background: transparent;
		position: absolute;
		z-index: 3;
		top: 0;
		bottom: 0;
	}
	.cs-block-section-slider-center .owl-arrows .owl-prev {
		left: 0;
		cursor: pointer;
		cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU3LjEgKDgzMDg4KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5hcnJvdy1sZWZ0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IkxvZ29zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNDU0LjAwMDAwMCwgLTE4MjkuMDAwMDAwKSIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgPGcgaWQ9ImFycm93LWxlZnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NjcuMDAwMDAwLCAxODM3LjAwMDAwMCkgc2NhbGUoLTEsIDEpIHRyYW5zbGF0ZSgtMTQ2Ny4wMDAwMDAsIC0xODM3LjAwMDAwMCkgdHJhbnNsYXRlKDE0NTQuMDAwMDAwLCAxODI5LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMjIuMTcyIDcgMTYuODA4IDEuNjM2IDE4LjIyMiAwLjIyMiAyNiA4IDE4LjIyMiAxNS43NzggMTYuODA4IDE0LjM2NCAyMi4xNzIgOSAyLjEyODg1MjY1ZS0xNCA5IDIuMTI4ODUyNjVlLTE0IDciPjwvcG9seWdvbj4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+") 16 16, pointer !important;
		cursor: -webkit-image-set(url("../../images/cursor-prev.png") 1x, url("../../images/cursor-prev@2x.png") 2x) 0 0, pointer;
	}
	.cs-block-section-slider-center .owl-arrows .owl-next {
		right: 0;
		cursor: pointer;
		cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU3LjEgKDgzMDg4KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5hcnJvdy1yaWdodDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJMb2dvcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFydGJvYXJkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTQ1NC4wMDAwMDAsIC0xODU0LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxnIGlkPSJhcnJvdy1yaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ1NC4wMDAwMDAsIDE4NTQuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iUGF0aCIgcG9pbnRzPSIyMi4xNzIgNyAxNi44MDggMS42MzYgMTguMjIyIDAuMjIyIDI2IDggMTguMjIyIDE1Ljc3OCAxNi44MDggMTQuMzY0IDIyLjE3MiA5IDIuMTI4ODUyNjVlLTE0IDkgMi4xMjg4NTI2NWUtMTQgNyI+PC9wb2x5Z29uPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=") 16 16, pointer !important;
		cursor: -webkit-image-set(url("../../images/cursor-next.png") 1x, url("../../images/cursor-next@2x.png") 2x) 0 0, pointer;
	}
}

/**
 * Middle Alignment
 */
.style-align-center .cs-block-slider-center .owl-dots {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

/**
 * Left Alignment
 */
.style-align-left .cs-block-slider-center .owl-dots {
	right: 2rem;
}

.style-align-left .cs-block-slider-boxed .owl-arrows {
	display: none;
}

@media (min-width: 1440px) {
	.container-wide .cs-block-slider-center article {
		width: 1360px;
	}
}

@media (min-width: 1640px) {
	.container-wide .cs-block-slider-center article {
		width: 1560px;
	}
}

.cs-block-slider-multiple .owl-prev,
.cs-block-slider-multiple .owl-next {
	width: 90px;
}

@media (min-width: 1120px) {
	.cs-block-slider-multiple .owl-dots {
		display: none;
	}
}

@media (min-width: 1240px) {
	.cs-block-section-slider-multiple .owl-arrows .owl-prev,
	.cs-block-section-slider-multiple .owl-arrows .owl-next {
		transform: none !important;
		background: transparent;
		position: absolute;
		z-index: 3;
		top: 0;
		bottom: 0;
	}
	.cs-block-section-slider-multiple .owl-arrows .owl-prev {
		left: 0;
		cursor: pointer;
		cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU3LjEgKDgzMDg4KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5hcnJvdy1sZWZ0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IkxvZ29zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNDU0LjAwMDAwMCwgLTE4MjkuMDAwMDAwKSIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgPGcgaWQ9ImFycm93LWxlZnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NjcuMDAwMDAwLCAxODM3LjAwMDAwMCkgc2NhbGUoLTEsIDEpIHRyYW5zbGF0ZSgtMTQ2Ny4wMDAwMDAsIC0xODM3LjAwMDAwMCkgdHJhbnNsYXRlKDE0NTQuMDAwMDAwLCAxODI5LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMjIuMTcyIDcgMTYuODA4IDEuNjM2IDE4LjIyMiAwLjIyMiAyNiA4IDE4LjIyMiAxNS43NzggMTYuODA4IDE0LjM2NCAyMi4xNzIgOSAyLjEyODg1MjY1ZS0xNCA5IDIuMTI4ODUyNjVlLTE0IDciPjwvcG9seWdvbj4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+") 16 16, pointer !important;
		cursor: -webkit-image-set(url("../../images/cursor-prev.png") 1x, url("../../images/cursor-prev@2x.png") 2x) 0 0, pointer;
	}
	.cs-block-section-slider-multiple .owl-arrows .owl-next {
		right: 0;
		cursor: pointer;
		cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDU3LjEgKDgzMDg4KSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5hcnJvdy1yaWdodDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJMb2dvcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFydGJvYXJkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTQ1NC4wMDAwMDAsIC0xODU0LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxnIGlkPSJhcnJvdy1yaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ1NC4wMDAwMDAsIDE4NTQuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iUGF0aCIgcG9pbnRzPSIyMi4xNzIgNyAxNi44MDggMS42MzYgMTguMjIyIDAuMjIyIDI2IDggMTguMjIyIDE1Ljc3OCAxNi44MDggMTQuMzY0IDIyLjE3MiA5IDIuMTI4ODUyNjVlLTE0IDkgMi4xMjg4NTI2NWUtMTQgNyI+PC9wb2x5Z29uPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=") 16 16, pointer !important;
		cursor: -webkit-image-set(url("../../images/cursor-next.png") 1x, url("../../images/cursor-next@2x.png") 2x) 0 0, pointer;
	}
}

.cs-block-slider-boxed {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

@media (min-width: 760px) {
	.cs-block-slider-boxed {
		width: 680px;
		padding: 0;
	}
}

@media (min-width: 1020px) {
	.cs-block-slider-boxed {
		width: 960px;
	}
}

@media (min-width: 1120px) {
	.cs-block-slider-boxed {
		width: 1040px;
	}
}

@media (min-width: 1240px) {
	.cs-block-slider-boxed {
		width: 1160px;
	}
}

.cs-block-slider-boxed .overlay-inner {
	max-width: 680px;
}

@media (min-width: 1120px) {
	.cs-block-slider-boxed .overlay-inner {
		padding: 3rem;
	}
}

.cs-block-slider-boxed .owl-dots {
	position: absolute;
	z-index: 1;
	bottom: 2rem;
}

/**
 * Middle Alignment
 */
.style-align-center .cs-block-slider-boxed .owl-dots {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

/**
 * Left Alignment
 */
.style-align-left .cs-block-slider-boxed .owl-dots {
	right: 2rem;
}

.style-align-left .cs-block-slider-boxed .owl-arrows {
	display: none;
}

@media (min-width: 1440px) {
	.container-wide .cs-block-slider-boxed {
		width: 1360px;
	}
}

@media (min-width: 1640px) {
	.container-wide .cs-block-slider-boxed {
		width: 1560px;
	}
}

.cs-block-slider-wide {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1120px) {
	.cs-block-slider-wide .overlay-inner {
		padding: 3rem;
	}
}

.cs-block-slider-wide .owl-dots {
	position: absolute;
	z-index: 1;
	bottom: 2rem;
}

/**
 * Middle Alignment
 */
.style-align-center .cs-block-slider-wide .owl-dots {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

/**
 * Left Alignment
 */
.style-align-left .cs-block-slider-wide .owl-dots {
	right: 2rem;
}

.style-align-left .cs-block-slider-wide .owl-arrows {
	display: none;
}

.cs-block-section-slider-large {
	margin-top: 0;
}

.cs-block-section-slider-large .owl-carousel:not(.owl-loaded) article:nth-child(n+2) {
	display: none;
}

.cs-block-slider-large {
	width: 100%;
}

.cs-block-slider-large .overlay-outer {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
	min-height: 100vh;
}

@media (min-width: 760px) {
	.cs-block-slider-large .overlay-outer {
		max-width: 720px;
	}
}

@media (min-width: 1020px) {
	.cs-block-slider-large .overlay-outer {
		max-width: 1000px;
	}
}

@media (min-width: 1120px) {
	.cs-block-slider-large .overlay-outer {
		max-width: 1080px;
	}
}

@media (min-width: 1240px) {
	.cs-block-slider-large .overlay-outer {
		max-width: 1200px;
	}
}

.cs-block-slider-large .overlay-inner {
	max-width: 800px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (min-width: 1240px) {
	.cs-block-slider-large .post-inner {
		padding-right: 215px;
	}
}

@media (min-width: 1440px) {
	.container-wide .cs-block-slider-large .overlay-outer {
		max-width: 1400px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (min-width: 1640px) {
	.container-wide .cs-block-slider-large .overlay-outer {
		max-width: 1600px;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media (min-width: 1120px) {
	.cs-block-slider-large .overlay-inner {
		padding: 3rem;
	}
}

.cs-block-slider-large .owl-dots {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 1;
	bottom: 3rem;
	left: auto;
	height: 0;
	transform: none;
}

@media (min-width: 760px) {
	.cs-block-slider-large .owl-dots {
		max-width: 720px;
	}
}

@media (min-width: 1020px) {
	.cs-block-slider-large .owl-dots {
		max-width: 1000px;
	}
}

@media (min-width: 1120px) {
	.cs-block-slider-large .owl-dots {
		max-width: 1080px;
	}
}

@media (min-width: 1240px) {
	.cs-block-slider-large .owl-dots {
		max-width: 1200px;
	}
}

/**
 * Middle Alignment
 */
@media (min-width: 1240px) {
	.style-align-center .cs-block-slider-large .post-inner {
		padding-left: 215px;
	}
}

.style-align-center .cs-block-slider-large .owl-dots {
	text-align: center;
}

/**
 * Left Alignment
 */
.style-align-left .cs-block-slider-large .owl-dots {
	text-align: right;
}

.entry-content .cnvs-block-section-layout-align-full:first-child .cnvs-block-posts-layout-slider-large:first-child .cs-block-slider-large {
	margin-top: calc(var(--large-sm-margin-top, 0) + -3rem);
}

.entry-content .cnvs-block-section-layout-align-full:first-child .cnvs-block-posts-layout-slider-large:first-child .cs-block-slider-large .overlay-outer {
	padding-top: calc(var(--large-sm-padding-top, 0) + 3rem);
}

@media (min-width: 1120px) {
	.entry-content .cnvs-block-section-layout-align-full:first-child .cnvs-block-posts-layout-slider-large:first-child .cs-block-slider-large {
		margin-top: calc(var(--large-lg-margin-top, 0) + -3rem);
	}
	.entry-content .cnvs-block-section-layout-align-full:first-child .cnvs-block-posts-layout-slider-large:first-child .cs-block-slider-large .overlay-outer {
		padding-top: calc(var(--large-sm-padding-top, 0) + 3rem);
	}
}
