.cs-block-tiles .post-outer {
	height: 100%;
}

.cs-block-tiles .post-outer {
	position: relative;
}

.cs-block-tiles .tiles-outer {
	display: grid;
	grid-gap: 1px;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
}

.cs-block-tiles .overlay-media {
	transform: translate3d(0, 0, 0);
}

.cs-block-tiles .overlay-inner {
	position: initial;
}

.cs-block-tiles article:not(:first-child) {
	margin-top: 0;
}

@media (min-width: 760px) {
	.cs-block-tiles .post-inner > *:last-child {
		margin-bottom: 0;
	}
	.cs-block-tiles .tiles-outer {
		grid-auto-rows: initial;
	}
	.cs-block-tiles article:nth-child(1) {
		grid-area: tile1;
	}
	.cs-block-tiles article:nth-child(2) {
		grid-area: tile2;
	}
	.cs-block-tiles article:nth-child(3) {
		grid-area: tile3;
	}
	.cs-block-tiles article:nth-child(4) {
		grid-area: tile4;
	}
	.cs-block-tiles article:nth-child(5) {
		grid-area: tile5;
	}
}

.entry-content > .cnvs-block-posts[class*='pk-block-posts-layout-tiles'] {
	width: 100vw;
	max-width: none;
	margin-left: calc(100% / 2 - 100vw / 2);
}

.entry-content > .cnvs-block-section-layout-align-full:first-child .cnvs-block-posts[class*='pk-block-posts-layout-tiles']:first-child {
	padding-top: 1px;
}

/**
 * Layouts
 */
@media (min-width: 760px) {
	.cs-block-tiles.tiles-1 .tiles-outer {
		grid-template-areas: 'tile1 tile2';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-2 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-2 .tiles-outer {
		grid-template-areas: 'tile1 tile2 tile3';
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-3 .tiles-outer {
		grid-template-areas: 'tile1 tile2';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-3 .tiles-outer {
		grid-template-areas: 'tile1 tile1 tile2';
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-4 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-4 .tiles-outer {
		grid-template-areas: 'tile1 tile1 tile2' 'tile1 tile1 tile3';
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-5 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-5 .tiles-outer {
		grid-template-areas: 'tile1 tile1 tile2 tile2' 'tile1 tile1 tile3 tile3';
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-6 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3' 'tile4 tile5';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-6 .tiles-outer {
		grid-template-areas: 'tile1 tile1 tile2' 'tile3 tile4 tile5';
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-7 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3' 'tile4 tile5';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-7 .tiles-outer {
		grid-template-areas: 'tile1 tile1 tile2 tile3' 'tile1 tile1 tile4 tile5';
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-8 .tiles-outer {
		grid-template-areas: 'tile1 tile1' 'tile2 tile3' 'tile4 tile5';
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-8 .tiles-outer {
		grid-template-areas: 'tile2 tile1 tile1 tile3' 'tile4 tile1 tile1 tile5';
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 760px) {
	.cs-block-tiles.tiles-9 .tiles-outer {
		grid-template-columns: repeat(2, 1fr);
	}
	.cs-block-tiles.tiles-9 article:nth-child(-n+8) {
		grid-area: initial;
	}
}

@media (min-width: 1020px) {
	.cs-block-tiles.tiles-9 .tiles-outer {
		grid-template-columns: repeat(4, 1fr);
	}
}
